@using PlanetDotnet.Portal.Views.Bases
@using PlanetDotnet.Portal.Views.Components.HeaderComponents
@inherits LayoutComponentBase

<HeaderComponent />
<div class="container body-container">
    <div class="container">
        @Body
    </div>

    <FooterBase />
</div>