<div class="top-row px-4">
    <div class="container dotnet-container">
    <div>
        <img src="/icon-192.png" height="40" class="rounded" />
        <text style="font-size:large;margin-left:10px"><b>Planet Dotnet</b></text>
    </div>
    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>
</div>