.profileCard {
    padding: 20px;
    position: relative;
}

    .profileCard.active .profileCardWrapper {
        background-color: #d9d9d9;
    }

    .profileCard .profileCardWrapper {
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
        background-color: #fff;
        padding: 20px;
        padding-top: 50px;
        word-wrap: break-word;
        text-overflow: ellipsis;
        text-align: center;
    }

        .profileCard .profileCardWrapper .name {
            margin: 10px 0 0 0;
            color: #b455b6;
            font-size: 22px;
        }

        .profileCard .profileCardWrapper .description {
            min-height: 80px;
        }

        .profileCard .profileCardWrapper .twitter a {
            color: #7d8c8d;
            font-size: 13px;
        }

        .profileCard .profileCardWrapper .website a {
            font-size: 13px;
            word-wrap: break-word;
            text-overflow: ellipsis;
        }

        .profileCard .profileCardWrapper .location {
            color: #7d8c8d;
            font-size: 13px;
            margin: 20px 0 0 0;
        }

    .profileCard .mugShotBorder {
        background-image: url('../img/card-background.png');
        background-size: 140%;
        color: #fff;
        height: 60px;
        padding-top: 10px;
        clear: both;
    }

    .profileCard .profileCardLocation {
        font-size: 14px;
        margin-top: -40px;
        margin-left: 120px;
    }

    .profileCard .profileCardSocial {
        float: right;
        font-size: 20px;
        line-height: 50px;
        vertical-align: middle;
        margin-top: -25px;
        margin-right: 20px;
    }

        .profileCard .profileCardSocial a {
            color: #fff;
        }

    .profileCard .mugShot {
        position: absolute;
        left: 50%;
        border-radius: 50%;
        border: 3px solid #fff;
        width: 100px;
        height: 100px;
        margin-top: 10px;
        margin-left: -50px;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    }
